#intro {
  background: no-repeat center/cover;
  background-image: url(../assets/Background_Intro.png);
  margin: 120px 163px 0px;
  #info {
        display: flex; 
    flex-direction: column; align-items: center;
  }

  #avatar {
    height: 112px;
    width: 112px;    
  }

  .centralizada {
    display: flex;
    justify-content: center; 
    align-items: top;
  }

  header {
    width: 680px;
    height: 327px;
  }

  #div-avatar {
    height: 168px;
  }

  #header-info-text {
    span{
      padding-bottom: 6px;
    }

    h2{
      padding-bottom: 20px;
    }
  }

  .icon {
    border: 1px;
    background-color: var(--gray-300);
    font: var(--gray-300);
    border-radius: 32px;
  }

  #tags{
    padding-top: 80px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    color: var(---gray-500);
    
    div {
      margin-left: 16px;
    }

    div:nth-last-child {
      margin-left: 0;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      margin-left: 16px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    span {
      margin-top: 8px;
      margin-right: 16px;
      margin-bottom: 8px;
    }
    
  }

  #caretDoubleDown {
    width: 32px;
    height: 32px;
    margin-top: 94px;
    margin-bottom: 57px;
  }

}

#projetos {
  margin: 0 180px 120px;
  justify-content: center;
  margin-top: 72px;

  header {
    width: 1040px;
    height: 61px;
    text-align: center;
    margin-bottom: 56px;
  }

  figure {    
    width: 330px;
    height: 280px;
    background-color: var(--gray-300);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    p {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 56px;   
     }

    span {
      margin-top: 4px;
      margin-left: 16px;
      padding-right: 16px;
      margin-bottom: 8px;
    }

  }

  img {
    margin: 12px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    width: 306px;
    height: 156px;
    align-self: center;
  }

  #thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-rows: repeat(2, auto);   /* 2 linhas */
    gap: 8px;
  }

  
}